@charset "UTF-8";



h1{
	font-size: 8em;
	color:#483D8B;
	text-align: center;
	border-bottom: 10px solid #483D8B;
	border-top: 10px solid #483D8B;
	font-family:Fantasy;
}


body{
	background-color:#DCDCDC;
}
 
p {
	font-size: 40px;
	font-family:Cursive;
	color: #800000;
	
}

button{
	font-size: 20px;
	font-family:Cursive;
	margin-top: 50px;
}
select{
	font-size: 30px;
	font-family:Cursive;
}


@media only screen and (max-width:500px) {
  /* For mobile phones: */
  h1, p, button, label {
    width: 100%;
	}
}
